<div>
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @artist.name %>
	</p></br>

	<p>
		<%= link_to 'New Song', new_artist_song_path(@artist.id) %><br>
	</p><br>

	<p>
		<strong>Songs:</strong></br>
		<div id="multiColumn">
			<ol>
				<% @artist.songs.each do |song| %>
					<h3><%=song.name%></h3>
					<iframe src="https://embed.spotify.com/?uri=<%=song.spotify_uri%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe></br>
				<% end %>
			</ol>
		</div>
	</p><br>

	<footer>
		<%= link_to 'Back', artists_path %>
	</footer>
</div>
