<div>
  <h1>Listing Songs</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @songs.each do |song| %>
        <tr>
          <td><%= song.name %><td> by <%= song.artist.name %></td></td>
          <td><%= link_to 'Show', artist_song_path(song.artist.id, song), id: 'show'+song.id.to_s %></td>
          <td><%= link_to 'Destroy', artist_song_path(song.artist.id, song), id: 'destroy'+song.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <footer>
    <%= link_to 'Show Artists', artists_path %>
  </footer>
</div>
